

.mat-card-content {
    padding: 20px; 
    display: block;
    margin-bottom: 15px;

    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}

.mat-form-field {
    width: 40%;
    // margin-bottom: 10px; 
    padding-right: 10px;
}



button[type="submit"] {
    margin-top: 10px; 
    display: block;
    justify-content: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .mat-form-field {
        width: calc(100% - 20px); 
    }
}
